body {
    font-family: "Arial", sans-serif;
}

#page_container {
    width: 1700px;
    margin: 0 auto;
    box-shadow: 0px 0px 48px 16px rgba(0, 0, 0, 0.175);
    border: 1px solid black;

}

#logo {
    width: 200px;
    float: left;    
    padding: 15px 0 20px 40px;
}

#logo img {
    width: 100px;

}

#page_title {
    width: 1000px;
    float: left;
    text-align: center;
    padding-left: 140px;
    padding-top: 25px;
}

.title {
    font-size: 40px;
}

nav {
    clear: both;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(199, 179, 127);
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 50px;
    font-size:  20px;
    color: #ffffff;
}

nav li a:hover {
    background-color: rgb(198, 12, 48);
}

#intro {
    background: black url(/queenstown/resources/queenstown-late-night.jpg) no-repeat center;
    background-size: cover;
    padding-bottom:  300px;
    padding-top: 300px;
}

#intro_block {
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.175);
    padding-top:  10px;
    width: 850px;
    margin-left: 430px;
    color: #ffffff;
    border: 1px solid #ffffff;
    
}


#intro_block a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 14px 40px;
    font-size:  25px;
    color: #ffffff;
}

#intro_block a:hover {
    background: rgb(198, 12, 48);
}

#intro_block h1 {
    font-size: 25pt;

}

#about_qtown {
    clear: both;

}

#lake_image {
    width: 850px;
    float: left; 
    padding-top: 20px;
    padding-left: 20px;
}

#lake_image img {
    width: 800px;
    padding-left: 40px;
}

#qtown_txt {
    float: left;
    width: 600px;
    text-align: justify;
    font-size: 18px;
    padding-left: 70px;
}

footer {
    clear: both;
    width: 1700px;
    height: 0px;
    background-color: #9c9c9c;
    padding-bottom: 200px;
}

#more_info {
    float: left;
    width: 400px;
    padding-top: 50px;
    
}

#more_info li {
    list-style-type: none;
}


#footer_txt {
    float: left;
    width: 500px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    padding-left: 150px;
    font-style: italic;
    

}

#footer_txt h2{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, .5)
}

#socials {
    float: right;
    width: 400px;
    
}

#socials li {
    padding-top: 70px;
    display: inline-block;
}

#the_remarkables {
    width: 850px;
    float: left; 
    padding-top: 20px;
    padding-left: 20px;
}

#the_remarkables img {
    width: 875px;
    height: 900px;
    padding-left: 30px;
}


#about_attractions {
    clear: both;
}

#attractions_txt {
    float: left;
    width: 600px;
    text-align: justify;
    padding-left: 90px;
}

#activities_txt {
    float: left;
    width: 700px;
    text-align: justify;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 10px;
    
}

#about_activities {
    clear: both;
}

#activity_image {
    float: right;
}

#activity_image img {
    width: 800px;
    height: 800px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 5px;
}

#history_image { 
    float: left;
}

#history_image img {
    width: 800px;
    padding-top: 50px;
    padding-left: 25px;
}

#history_txt {
    width: 800px;
    float: right;
    padding-right: 50px;
    padding-top: 25px;
}


