.thumb {
    width: 271px;
    margin: 10 auto;
    padding-left: 5px;
    padding-bottom: 5px;
    display: inline-block;
}


#page_title {
    width: 1000px;
    float: left;
    text-align: center;
    padding-left: 200px;
    padding-top: 25px;
}

#page_container {
    width: 1400px;
    margin: 0 auto;
    box-shadow: 0px 0px 48px 16px rgba(0, 0, 0, 0.175);
    border: 1px solid black;

}

.title {
    font-size: 40px;
}

nav {
    clear: both;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #07073b;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 14px 50px;
    font-size:  20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover {
    background-color: #2c2c7f;
}

footer {
    clear: both;
    width: 1400px;
    height: 0px;
    background-color: #121223;
    padding-bottom: 200px;
}

#footer_txt h2{
    text-shadow: #3636a0;
}   

#footer_txt {
    float: left;
    width: 500px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    padding-left: 460px;
    font-style: italic;
}


#lupin_txt p {
    width: 700px;
    padding-left: 10px;
}

#lupin_img img {
    width:500px;
    float: right;
    padding-right: 100px;
    border-radius: 100px;
    padding-top: 10px;
}

#mononoke_txt p {
    width: 700px;
    padding-top: 25px;
    padding-left: 10px;
}

#mononoke_img img {
    width: 500px;
    float: right;
    padding-right: 100px;
    border-radius: 100px;
    padding-top: 25px;
}

#totoro_txt p {
    width: 700px;
    padding-top: 25px;
    padding-left: 10px;
}

#totoro_img img{
    width: 500px;
    float: right;
    padding-right: 100px;
    border-radius: 100px;
    padding-top: 25px;
}

#shin_txt {
    width: 700px;
    padding-left: 10px; 
}

#shin_img img {
    width: 500px;
    float: right;
    padding-right: 100px;
    border-radius: 100px;
    padding-top: 25px;
}

#nope_txt {
    width: 700px;
    padding-left: 10px; 
    padding-top: 25px;
}